.footer {
  background-color: $footer;
  padding: 64px 0 60px;
  font-size: 14px;
  line-height: 1.714;

  &__container {
    display: flex;
    gap: 51px;
  }

  &__logo {
    margin-bottom: 22px;
  }

  &__address {
    color: $white;
    margin-bottom: 9px;
  }

  &__item {
    color: $orange;

    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__join {
    padding-top: 8px;
  }

  &__join-text {
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 19px;
  }
}