.header {
  border-bottom: 1px solid #ECECEC;

  &__container {
    height: 80px;
    display: flex;
    align-items: center;
  }
}

.user-contacts {
  width: 50%;
  color: $grey;
  font-size: 14px;
  display: flex;
  justify-content: end;
  gap: 55px;


  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: $dark;

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    position: relative;
    padding: 24px 4px;
    &::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: transparent;
        bottom: -8px;
        left: 0;
        position: absolute;
      }
    &.current {
      color: $orange;

      &::after {
        background-color: $orange;
      }
     }
  }
}