.hero {
  max-width: 1600px;
  margin: 0 auto;
  color: $white;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.6);
    z-index: -1;
  }

  &__background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: -2;
  }

  &__background-item {
    display: block;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(min-width: 1200px) {
      min-height: 600px;
      height: 55vh;
    }
  }

  &__container {
    display: flex;
    min-height: 400px;

    @media(min-width: 1200px) {
      min-height: 600px;
      height: 55vh;
    }
  }

  &__content {
    text-align: center;
    max-width: 705px;
    width: 100%;
    margin: auto;
  }

  &__title {
    font-size: 24px;
    max-width: 368px;
    margin: 0 auto 38px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.36;
    margin-bottom: 30px;

    @media(min-width: 1200px) {
      font-size: 44px;
      max-width: 82%;
    }
  }
}

.qualities {
  padding: 60px 0;

  @media(min-width: 1200px) {
    padding: 94px 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 33px;

    @media(min-width: 768px) {
      gap: 35px;
    }

    @media(min-width: 1200px) {
      gap: 30px;
    }
  }

  &__item {
    max-width: 450px;
    border-radius: 4px;

    @media(min-width: 768px) {
      width: calc((100% - 1 * 35px) / 2);
    }

    @media(min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 4);
    }
  }

  &__icon-wrapper {
    height: 120px;
    border: 1px solid rgba(117, 117, 117, 1);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 9px;
    text-align: center;

    @media(min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    color: $grey;
    font-size: 14px;
    line-height: 1.714;
  }
}

.services {
  display: none;

  @media(min-width: 1200px) {
    display: block;
    padding-top: 4px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__image {
    object-fit: fill;
  }

  &__subtitle {
    background-color: $blackout;
    text-transform: uppercase;
    color: $white;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 15px;
    z-index: 1;
  }
}

.team {
  background-color: $dark-white;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    @media(min-width: 1200px) {
      gap: 30px;
    }
  }

  &__item {
    max-width: 450px;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: $white;
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      max-width: 354px;
    }

    @media(min-width: 1200px) {
      max-width: 270px;
    }
  }

  &__photo {
    width: 100%;
    object-fit: fill;
    height: auto;
  }

  &__content {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;

  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    color: $dark;
  }

  &__position {
    color: $grey;
    margin-bottom: 16px;
    margin-top: auto;
  }
}

.partners {
  text-align: center;
  padding: 60px 0;

  @media(min-width: 768px) {
    padding: 58px 0;
  }

  @media(min-width: 1200px) {
    padding: 94px 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    width: calc((100% - 1 * 30px) / 2);
    max-width: 226px;

    @media(min-width: 768px) {      
      width: calc((100% - 2 * 30px) / 3);
    }

    @media(min-width: 1200px) {
      max-width: 170px;
    }
  }

  &__link {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey;
    border: 1px solid currentColor;
    outline-offset: 4px;
    border-radius: 4px;
    transition: outline 0.2s, opacity 0.2s, color 0.2s;

    &:hover {
      color: $orange;
    }

    &:focus {
      outline: 1px solid $orange;
    }

    &:active {
      color: $orange;
      opacity: 0.7;
    }
  }
}