.gallery {
  &__filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 45px;

    @media(min-width: 768px) {
      justify-content: center;
      margin-bottom: 31px;
    }

    @media(min-width: 1200px) {
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  &__filter-button {
    border-radius: 4px;
    background-color: $dark-white;
    color: $dark;
    line-height: 1;
    padding: 11px 26px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1);
    outline: 1px solid transparent;
    outline-offset: 4px;
    transition: outline 0.2s, background-color 0.2s, color 0.2s, box-shadow 0.2s;

    &.mixitup-control-active {
      background-color: $orange;
      color: $white;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    }

    &:hover {
      background-color: $orange;
      color: $white;
    }

    &:focus {
      background-color: $orange;
      outline: 1px solid $orange;
      color: $white;
    }

    &:active {
      background-color: $orange;
      color: $white;
      box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
    }
  }

  &__content-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    @media(min-width: 768px) {}
  }

  &__content-item {
    max-width: 450px;
    width: 100%;

    @media(min-width: 768px) {
      width: 46%;
    }

    @media(min-width: 1200px) {
      max-width: 370px;
    }
  }
}

.gallery-card {
  display: flex;
  flex-direction: column-reverse;

  &:hover,
  &:focus {
    .gallery-card__description {
      transform: translateY(0);
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
  }

  &__image {
    height: 294px;
    width: 100%;
  }

  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    color: $white;
    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(236, 60, 5, 0.8);
    transform: translateY(101%);
    transition: transform 0.2s;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    padding: 20px 24px;
    border: 1px solid grey;
    border-top: 0;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 2;
    color: $dark;
    font-weight: 400;
  }

  &__text {
    color: $grey;
  }
}