.footer {
  background-color: $footer;
  padding: 60px 0 60px;
  font-size: 14px;
  line-height: 1.714;

  @media(min-width: 1200px) {
    padding-top: 64px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    text-align: center;
    justify-content: center;
    align-items: center;

    @media(min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 48px;
      align-items: flex-start;
      justify-content: space-around;
    }

    @media(min-width: 1200px) {
      flex-direction: row;
      gap: 0;
      text-align: left;
    }
  }

  &__contacts-info {
    width: 100%;

    @media(min-width: 768px) {
    max-width: 250px;
    }

    @media(min-width: 1200px) {
      margin-right: 51px;
    }
  }

  &__logo {
    margin-bottom: 14px;

    @media(min-width: 1200px) {
      margin-bottom: 16px;
    }
  }

  &__address {
    color: $white;
    line-height: 1.71;

    @media(min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  &__item {


    &:not(:last-child) {
      margin-bottom: 0;

      @media(min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    width: 100%;
    color: $orange;
    padding: 4px 4px;
    outline: 1px solid transparent;
    border-radius: 4px;
    transition: color 0.2s;

    @media(min-width: 1200px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    &:hover {
      color: #F29040;
    }

    &:focus {
      outline-color: $orange;
    }

    &:active {
      color: #F29040;
    }
  }

  &__join {
    max-width: 206px;
    width: 100%;

    @media(min-width: 1024px) and (orientation: landscape) {
      padding-top: 8px;
    }

    @media(min-width: 1200px) {
      margin-right: 93px;      
    }
  }

  &__subtitle {
    display: block;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 19px;
    line-height: 1.185;
  }
}