.header {
  border-bottom: 1px solid #ECECEC;
  display: block;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    gap: 82px;

    @media(min-width: 768px) {
      height: 80px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 77px;
  color: $dark;

  @media (orientation: landscape) {
    justify-content: space-between;
  }

  @media (min-width: 768px) and (orientation: portrait) {
    justify-content: flex-start;
  }

  @media (min-width: 1024px) {
    justify-content: flex-start;
    width: auto;

    @media (min-width: 1200px) {
      gap: 86px;
    }
  }

  &__burger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 6px;
    color: $grey;
    position: relative;
    z-index: 4;
    transition: transform 0.2s, color 0.2s, background-color 0.2s, outline 0.2s, box-shadow 0.2s;

    &:hover {
      color: $orange;
    }

    &:focus {
      color: $grey;
      outline: 1px solid $orange;
    }

    &:active {
      box-shadow: inset 3px 3px 3px rgba($black, 0.12);
      color: $orange;
    }

    &::before {
      content: '';
      position: absolute;
      width: 26px;
      height: 3px;
      background-color: currentColor;
      border-radius: 3px;
      left: 9px;
      top: 13px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 3px;
      background-color: currentColor;
      border-radius: 3px;
      left: 9px;
      bottom: 13px;
    }

    &.is-open {
      outline: 1px solid transparent;
      border-radius: 50%;
      transition: outline-color 0.2s, color 0.2s;

      &:hover {
        outline: 1px solid rgba($black, 0.1);
      }

      &:focus {
        outline: 1px solid $orange;
        color: $black;
      }

      &:active {
        box-shadow: inset 3px 3px 3px rgba($black, 0.12);
      }

      .menu__burger-line {
        opacity: 0;
      }

      &::before {
        transform: rotate(-45deg);
        top: 20px;
      }

      &::after {
        transform: rotate(45deg);
        top: 20px;
      }
    }

    @media (min-width: 768px) and (orientation: portrait) {
      display: none;
    }

    @media (min-width: 768px) and (orientation: landscape) {
      display: flex;
    }

    @media (min-width: 1024px) and (orientation: landscape) {
      display: none;
    }
  }

  &__burger-line {
    width: 26px;
    height: 3px;
    background-color: currentColor;
    border-radius: 3px;
  }

  &__list {
    display: none;
    padding-top: 7px;

    @media (min-width: 768px) {
      display: flex;
      gap: 33px;

      @media (min-width: 768px) and (orientation: landscape) {
        display: none;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__link {
    @media (min-width: 768px) {
      position: relative;
      display: inline-block;
      padding: 24px 4px;
      border-radius: 4px;
      transition: outline 0.2s, color 0.2s, opacity 0.2s;
    }

    &.current {
      color: $orange;

      &::after {
        background-color: $orange;
      }
    }

    &:hover {
      color: $orange;

      &::after {
        background-color: currentColor;
      }
    }

    &:focus {
      outline: 1px solid $orange;

      &::after {
        background-color: $orange;
      }
    }

    &:active {
      color: $orange;
      opacity: 0.7;

      &::after {
        background-color: currentColor;
      }
    }

    &::after {
      @media(min-width: 768px) {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: transparent;
        bottom: -4px;
        left: 0;
        position: absolute;
        transition: background-color 0.2s;
      }
    }
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateY(-200%);
  padding: 34px 30px 38px;
  background-color: $white;
  transition: transform 0.7s cubic-bezier(0.3, -0.12, 0.23, 1.11);

  &.is-open {
    transform: translateY(0);
    z-index: 3;
  }

  @media(min-width: 480px) {
    padding: 34px 40px 38px;
  }

  @media (orientation: landscape) {
    padding: 15px 40px 15px;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    display: none;

    @media (min-width: 768px) and (orientation: landscape) {
      display: flex;
    }
  }

  @media (min-width: 992px) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-bottom: auto;
    margin-right: 34px;

    @media(orientation: landscape) {
      font-size: 38px;
    }
  }

  &__link {
    width: 100%;
    padding: 8px 0;

    @media(min-width: 320px) and (orientation: portrait) {
      padding: 16px 0;
    }

    &:focus {
      color: $orange;
    }

    &:active {
      color: rgba($orange, 0.7);
    }
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;

    @media(orientation: landscape) {
      margin-bottom: 0;
    }
  }

  &__contacts-link {
    width: 100%;
    padding: 8px 0;
    font-size: 28px;
    color: $grey;

    @media(orientation: landscape) {
      padding: 6px 0;
    }

    @media(min-width: 480px) and (orientation: portrait) {
      font-size: 32px;
      padding: 15px 0;
    }

    &:focus {
      color: $orange;
    }

    &:active {
      color: rgba($orange, 0.7);
    }
  }

  &__social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;

    @media (orientation: landscape) {
      flex-direction: column;
      margin-top: auto;
    }
  }

  &__social-item {
    @media (orientation: landscape) {
      text-align: right;
    }

    &:not(:last-child) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 22px;
        bottom: 50%;
        transform: translateY(50%);
        right: -10px;
        background-color: rgba($dark, 0.2);
      }
    }

    &:last-child {
      position: relative;

      &::after {
        @media (orientation: landscape) {
          content: '';
          position: absolute;
          width: 1px;
          height: 22px;
          bottom: 50%;
          transform: translateY(50%);
          right: -10px;
          background-color: rgba($dark, 0.2);
        }
      }
    }
  }

  &__social-link {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    color: $orange;
    padding: 12px 0;
    font-size: 18px;
    transition: color 0.2s;

    @media (orientation: landscape) {
      width: 100%;
    }

    &:focus {
      color: $grey;
    }

    &:active {
      color: rgba($orange, 0.7);
    }
  }
}

.user-contacts {
  display: none;
  margin-left: auto;
  color: $grey;
  font-size: 14px;
  justify-content: end;
  gap: 2px;

  @media (min-width: 768px) and (orientation: portrait) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) and (orientation: landscape) {
    display: none;
  }

  @media (min-width: 1024px) {
    display: flex;
    gap: 38px;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }

  &__link {
    @media(min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 4px;
      border-radius: 4px;
      outline: 1px solid transparent;
      transition: outline-color 0.2s, color 0.2s, opacity 0.2s;

      &:hover {
        color: $orange;
      }

      &:focus {
        outline-color: $orange;
        color: currentColor;
      }

      &:active {
        color: $orange;
        opacity: 0.7;
      }
    }
  }
}