.backdrop {
  display: flex;
  position: fixed;
  padding: 93px 15px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 10;
  opacity: 1;
  overflow-y: auto;
  transition: opacity 0.3s;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
      transform: scale(0);
    }
  }
}

.modal {
  margin: auto;
  max-width: 450px;
  width: 100%;
  background-color: $white;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
  position: relative;
  transform: scale(1);
  color: $dark;
  padding: 40px;
  border-radius: 6px;
  transition: transform 0.3s;

  @media(min-width: 1200px) {
    max-width: 528px;
  }
}

.order-form {
  &__title {
    font-size: 20px;
    margin-bottom: 11px;
  }

  &__label {
    display: block;
    text-align: left;
    color: $grey;
    font-size: 12px;
    margin-bottom: 10px;
    position: relative;

    &--textarea {
      @media(min-width: 1200px) {
        margin-bottom: 5px;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 11px 12px 11px 34px;
    margin-top: 4px;
    border-radius: 4px;
    outline: 1px solid rgba($grey, 0.2);
    transition: outline-color 0.2s, color 0.2s;

    &:hover {
      outline-color: rgba($black, 0.2);

      &+.order-form__icon {
        color: rgba($orange, 0.7);
      }
    }

    &:focus {
      outline-color: $orange;

      &+.order-form__icon {
        color: $orange;
      }
    }

    &--textarea {
      height: 120px;
      padding-left: 11px;
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    color: $dark;
  }

  &__checkbox-label {
    display: flex;
    align-items: baseline;
    position: relative;
    margin-bottom: 11px;

    @media(min-width: 1200px) {
      margin-bottom: 15px;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: -3px;
    left: -18px;
    width: 44px;
    height: 44px;
  }

  &__checkbox-fake {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $black;
    border-radius: 2px;
    margin-right: 7px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/checkbox.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 9px;
      height: 7px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__checkbox:checked+&__checkbox-fake {
    background-color: $orange;
    border-color: transparent;
  }

  &__checkbox-text {
    font-size: 12px;
    text-align: left;
    color: $grey;
  }

  &__link {
    color: $orange;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 15px 3px;
    margin-left: 1px;
    text-decoration: underline;
    transition: opacity 0.2s, border-color 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      border-color: $orange;
    }
  }
}

.close-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: border-color 0.2s, color 0.2s, box-shadow 0.2s;

  &:hover {
    color: $orange;
  }

  &:focus {
    border-color: $orange;
  }

  &:active {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);
    color: $orange;
  }
}
