.social {
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;

&--dark {
.social__link {
background-color: rgba(255, 255, 255, 0.1);
color: $white;
}
}

&__link {
width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
color: $grey;
outline: 1px solid transparent;
outline-offset: 4px;
transition: outline-color 0.2s, box-shadow 0.2s, color 0.2s, background-color 0.2s;

.icon {
transition: color 0.2s;
}

&:hover {
background-color: $orange;
color: $white;
}

&:focus {
outline-color: $orange;
}

&:active {
background-color: $orange;
color: $white;
box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}
}
}