<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left">
      <a class="logo logo--white footer__logo" href="#">
        <img src="images/icons/logo-white.svg" alt="logo" class="footer__img" width="140" height="25">
      </a>
      <address class="footer__contacts">
        <ul class="footer__list">
          <li class="footer__item">
            <p class="footer__address">
              14 Green St., Belmont, Boston. USA
            </p>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="mailto:webdev@gmail.com">
              info@dolguldur.com
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="tel:+380503223232">
              +38 099 111 11 11
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer__join">
      <span class="footer__join-text">
        join
      </span>
      <ul class="social social--dark">
        <li class="social__item">
          <a class="social__link" href="#">
            <span class="sr-only">
              go to DolGulDur studio's Instagram
            </span>
            <svg class="icon" width="20" height="20">
              <use xlink:href="images/sprite.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <span class="sr-only">
              go to Twitter
            </span>
            <svg class="icon" width="20" height="20">
              <use xlink:href="images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <span class="sr-only">
              go to Facebook
            </span>
            <svg class="icon" width="20" height="20">
              <use xlink:href="images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <span class="sr-only">
              go to Linkedin
            </span>
            <svg class="icon" width="20" height="20">
              <use xlink:href="images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>