<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@title</title>
  @@include('favicon.html')
  @@include('fonts.html')
  <meta name="description" content="@@description">
  <meta name="keywords" content="web design, modern design, desktop apps, mobile apps, web development, website design, website development, web agency, digital agency, web services, custom websites, responsive design, e-commerce websites, web design company, mobile-friendly websites">  

  <meta property="og:title" content="@@title">
  <meta property="@@description">
  <meta property="og:image" content="@@image">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:type" content="website">
  <meta property="og:url" content="@@url">
  <meta property="og:locale" content="en">
  <meta property="og:site_name" content="Web studio DolGulDur">

  <link rel="stylesheet" href="css/style.min.css">
</head>

