<ul class="social @@socialClass">
  <li class="social__item">
    <a class="social__link" href="@@instagramHref">
      <span class="sr-only">
        go to @@name Instagram
      </span>
      <svg class="icon" width="20" height="20">
        <use xlink:href="images/sprite.svg#icon-insta"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="@@twitterHref">
      <span class="sr-only">
        go to @@name Twitter
      </span>
      <svg class="icon" width="20" height="20">
        <use xlink:href="images/sprite.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="@@facebookHref">
      <span class="sr-only">
        go to @@name Facebook
      </span>
      <svg class="icon" width="20" height="20">
        <use xlink:href="images/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="@@linkedinHref">
      <span class="sr-only">
        go to @@name Linkedin
      </span>
      <svg class="icon" width="20" height="20">
        <use xlink:href="images/sprite.svg#icon-linkedin"></use>
      </svg>
    </a>
  </li>
</ul>

