<section class="partners">
  <div class="container">
    <h2 class="title">
      Our partners
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <a href="" class="partners__link">
          <span class="sr-only">
            go to Rails
          </span>
          <svg class="partners__icon icon" width="60" height="60">
            <use xlink:href="images/sprite.svg#icon-rails"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <span class="sr-only">
            go to Googleplay
          </span>
          <svg class="partners__icon icon" width="60" height="60">
            <use xlink:href="images/sprite.svg#icon-googlepay"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <span class="sr-only">
            go to Playstation web-site
          </span>
          <svg class="partners__icon icon" width="60" height="60">
            <use xlink:href="images/sprite.svg#icon-playstation"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <span class="sr-only">
            go to ApplePay
          </span>
          <svg class="partners__icon icon" width="60" height="60">
            <use xlink:href="images/sprite.svg#icon-applepay"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <span class="sr-only">
            go to npm
          </span>
          <svg class="partners__icon icon" width="60" height="60">
            <use xlink:href="images/sprite.svg#icon-npm"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a href="" class="partners__link">
          <span class="sr-only">
            go to UberEats
          </span>
          <svg class="partners__icon icon" width="60" height="60">
            <use xlink:href="images/sprite.svg#icon-ubereats"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>