<section class="services section">
  <div class="container">
    <h2 class="title">
      Our services
    </h2>
    <ul class="services__list">
      <li class="services__item services__item--desktop">
        <h3 class="services__subtitle">
          desktop apps
        </h3>
        <img class="services__image" src="images/our-services/desktop-apps.jpg" alt="desktop apps" width="370"
          height="294">
      </li>
      <li class="services__item services__item--mobile">
        <h3 class="services__subtitle">
          mobile apps
        </h3>
        <img class="services__image" src="images/our-services/mobile-apps.jpg" alt="mobile apps" width="370"
          height="294">
      </li>
      <li class="services__item services__item--design">
        <h3 class="services__subtitle">
          modern design
        </h3>
        <img class="services__image" src="images/our-services/modern-design.jpg" alt="modern design" width="370"
          height="294">
      </li>
    </ul>
  </div>
</section>