<section class="services section">
  <div class="container">
    <h2 class="title">
      Our services
    </h2>
    <ul class="services__list">
      <li class="services__item services__item--desktop">
        <h3 class="services__subtitle">
          desktop apps
        </h3>
        <picture>
          <source srcset="images/our-services/services1.webp 1x, images/our-services/services1.webp 2x"
            type="image/webp" media="(min-width:320px)">
          <source srcset="images/our-services/services1.jpg 1x, images/our-services/services1.jpg 2x"
            media="(min-width:1200px)">
          <img class="services__image" src="images/our-services/services1.jpg" alt="desktop apps" width="370"
            height="294">
        </picture>
      </li>
      <li class="services__item services__item--mobile">
        <h3 class="services__subtitle">
          mobile apps
        </h3>
        <picture>
          <source srcset="images/our-services/services2.webp 1x, images/our-services/services2.webp 2x" type="image/webp"
            media="(min-width:320px)">
          <source srcset="images/our-services/services2.jpg 1x, images/our-services/services2.jpg 2x"
            media="(min-width:1200px)">
          <img class="services__image" src="images/our-services/services2.jpg" alt="mobile apps" width="370"
            height="294">
        </picture>
      </li>
      <li class="services__item services__item--design">
        <h3 class="services__subtitle">
          modern design
        </h3>
        <picture>
          <source srcset="images/our-services/services3.webp 1x, images/our-services/services3.webp 2x" type="image/webp"
            media="(min-width:320px)">
          <source srcset="images/our-services/services3.jpg 1x, images/our-services/services3.jpg 2x"
            media="(min-width:1200px)">
          <img class="services__image" src="images/our-services/services3.jpg" alt="modern design" width="370"
            height="294">
        </picture>
      </li>
    </ul>
  </div>
</section>