<section class="team section">
  <div class="container">
    <h2 class="title">
      Our team
    </h2>
    <ul class="team__list">
      <li class="team__item">
        <img class="team__photo" src="images/our-team/paul.jpg" alt="Paul Castanie">
        <div class="team__content">
          <h3 class="team__subtitle">
            Paul Castanie
          </h3>
          <span class="team__position">
            Product Designer
          </span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Paul Castanie Instagram
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Paul Castanie Twitter
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Paul Castanie Facebook
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Paul Castanie Linkedin
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img class="team__photo" src="images/our-team/joanna.jpg" alt="Joanna Nix">
        <div class="team__content">
          <h3 class="team__subtitle">
            Joanna Nix
          </h3>
          <span class="team__position">
            Frontend Developer
          </span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Joanna Nix Instagram
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Joanna Nix Twitter
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Joanna Nix Facebook
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Joanna Nix Linkedin
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img class="team__photo" src="images/our-team/aldo.jpg" alt="Aldo Delara">
        <div class="team__content">
          <h3 class="team__subtitle">
            Aldo Delara
          </h3>
          <span class="team__position">
            Marketing
          </span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Aldo Delara Instagram
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Aldo Delara Twitter
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Aldo Delara Facebook
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Aldo Delara Linkedin
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img class="team__photo" src="images/our-team/oladimeji.jpg" alt="Oladimeji Odunsi">
        <div class="team__content">
          <h3 class="team__subtitle">
            Oladimeji Odunsi
          </h3>
          <span class="team__position">
            UI Designer
          </span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Oladimeji Odunsi Instagram
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Oladimeji Odunsi Twitter
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Oladimeji Odunsi Facebook
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <span class="sr-only">
                  go to Oladimeji Odunsi Linkedin
                </span>
                <svg class="icon" width="20" height="20">
                  <use xlink:href="images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>