<section class="team section">
  <div class="container">
    <h2 class="title">
      Our team
    </h2>
    <ul class="team__list">
      <li class="team__item">       
        <picture>
          <source srcset="images/our-team/team1.jpg 1x, images/our-team/team1-2x.jpg 2x" media="(min-width:1200px)">
          <source srcset="images/our-team/team1-tab.jpg 1x, images/our-team/team1-tab-2x.jpg 2x" media="(min-width:768px)">
          <source srcset="images/our-team/team1-mob.jpg 1x, images/our-team/team1-mob-2x.jpg 2x" media="(min-width:320px)">
          <img class="team__photo" src="images/our-team/team1.jpg" alt="Paul Castanie" width="270" height="260">
        </picture>
        <div class="team__content">
          <h3 class="team__subtitle">
            Paul Castanie
          </h3>
          <span class="team__position">
            Product Designer
          </span>
          @@include('../social.html', {
            "socialClass": "",
            "name": "Paul Castanie",
            "instagramHref": "",
            "twitterHref": "",
            "facebookHref": "",
            "linkedinHref": "",
          }
          )
        </div>
      </li>
      <li class="team__item">       
        <picture>
          <source srcset="images/our-team/team2.jpg 1x, images/our-team/team2-2x.jpg 2x" media="(min-width:1200px)">
          <source srcset="images/our-team/team2-tab.jpg 1x, images/our-team/team2-tab-2x.jpg 2x" media="(min-width:768px)">
          <source srcset="images/our-team/team2-mob.jpg 1x, images/our-team/team2-mob-2x.jpg 2x" media="(min-width:320px)">
          <img class="team__photo" src="images/our-team/team1.jpg" alt="Joanna Nix" width="270" height="260">
        </picture>
        <div class="team__content">
          <h3 class="team__subtitle">
            Joanna Nix
          </h3>
          <span class="team__position">
            Frontend Developer
          </span>
          @@include('../social.html', {
          "socialClass": "",
          "name": "Joanna Nix",
          "instagramHref": "",
          "twitterHref": "",
          "facebookHref": "",
          "linkedinHref": "",
          }
          )
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="images/our-team/team3.jpg 1x, images/our-team/team3-2x.jpg 2x" media="(min-width:1200px)">
          <source srcset="images/our-team/team3-tab.jpg 1x, images/our-team/team3-tab-2x.jpg 2x" media="(min-width:768px)">
          <source srcset="images/our-team/team3-mob.jpg 1x, images/our-team/team3-mob-2x.jpg 2x" media="(min-width:320px)">
          <img class="team__photo" src="images/our-team/team1.jpg" alt="Aldo Delara" width="270" height="260">
        </picture>
        <div class="team__content">
          <h3 class="team__subtitle">
            Aldo Delara
          </h3>
          <span class="team__position">
            Marketing
          </span>
          @@include('../social.html', {
          "socialClass": "",
          "name": "Aldo Delara",
          "instagramHref": "",
          "twitterHref": "",
          "facebookHref": "",
          "linkedinHref": "",
          }
          )
        </div>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="images/our-team/team4.jpg 1x, images/our-team/team4-2x.jpg 2x" media="(min-width:1200px)">
          <source srcset="images/our-team/team4-tab.jpg 1x, images/our-team/team4-tab-2x.jpg 2x" media="(min-width:768px)">
          <source srcset="images/our-team/team4-mob.jpg 1x, images/our-team/team4-mob-2x.jpg 2x" media="(min-width:320px)">
          <img class="team__photo" src="images/our-team/team1.jpg" alt="Oladimeji Odunsi" width="270" height="260">
        </picture>
        <div class="team__content">
          <h3 class="team__subtitle">
            Oladimeji Odunsi
          </h3>
          <span class="team__position">
            UI Designer
          </span>
          @@include('../social.html', {
          "socialClass": "",
          "name": "Oladimeji Odunsi",
          "instagramHref": "",
          "twitterHref": "",
          "facebookHref": "",
          "linkedinHref": "",
          }
          )
        </div>
      </li>
    </ul>
  </div>
</section>