<section class="gallery section">
  <div class="container">
    <h1 class="sr-only">
      Our Works
    </h1>
    <ul class="gallery__filter">
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter="all">
          All
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-a">
          Web-sites
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-b">
          Apps
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-c">
          Designes
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-d">
          Brands
        </button>
      </li>
    </ul>
    <ul class="gallery__content-list">
      <li class="gallery__content-item mix category-a">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Sofa World
            </h2>
            <span class="gallery-card__text">
              Web-site
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/sofa.jpg" alt="Sofa World">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-d">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Moby Dick Caffe
            </h2>
            <span class="gallery-card__text">
              Brand
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/moby.jpg" alt="Moby Dick Caffe">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-b">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Tesla charger-map
            </h2>
            <span class="gallery-card__text">
              App
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/tesla.jpg" alt="Tesla charger-map">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-c">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Bronze Sky
            </h2>
            <span class="gallery-card__text">
              Design
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/bronze.jpg" alt="Bronze Sky">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-c">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Cereal Travel Magazine
            </h2>
            <span class="gallery-card__text">
              Design
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/cereal.jpg" alt="Cereal Travel Magazine">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-b">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Photonium
            </h2>
            <span class="gallery-card__text">
              App
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/photonium.jpg" alt="Photonium">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-d">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Keep Exploring
            </h2>
            <span class="gallery-card__text">
              Brand
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/keep.jpg" alt="Keep Exploring">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-c">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Architectural conceptual projects
            </h2>
            <span class="gallery-card__text">
              Design
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/architecture.jpg"
              alt="Architectural conceptual projects">
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-a">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Le Buzz food service
            </h2>
            <span class="gallery-card__text">
              Web-site
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <img class="gallery-card__image" src="images/gallery/le-buzz.jpg" alt="Le Buzz food service">
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>