<section class="gallery section">
  <div class="container">
    <h1 class="sr-only">
      Our Works
    </h1>
    <ul class="gallery__filter">
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter="all">
          All
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-a">
          Web-sites
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-b">
          Apps
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-c">
          Designes
        </button>
      </li>
      <li class="gallery__filter-item">
        <button class="gallery__filter-button" type="button" data-filter=".category-d">
          Brands
        </button>
      </li>
    </ul>
    <ul class="gallery__content-list">
      <li class="gallery__content-item mix category-a">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Sofa World
            </h2>
            <span class="gallery-card__text">
              Web-site
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio1.jpg 1x, images/gallery/portfolio1-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio1-tab.jpg 1x, images/gallery/portfolio1-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio1-mob.jpg 1x, images/gallery/portfolio1-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio1.jpg" alt="Sofa World" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-d">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Moby Dick Caffe
            </h2>
            <span class="gallery-card__text">
              Brand
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio2.jpg 1x, images/gallery/portfolio2-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio2-tab.jpg 1x, images/gallery/portfolio2-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio2-mob.jpg 1x, images/gallery/portfolio2-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio2.jpg" alt="Moby Dick Caffe" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-b">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Tesla charger-map
            </h2>
            <span class="gallery-card__text">
              App
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio3.jpg 1x, images/gallery/portfolio3-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio3-tab.jpg 1x, images/gallery/portfolio3-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio3-mob.jpg 1x, images/gallery/portfolio3-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio3.jpg" alt="Tesla charger-map" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-c">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Bronze Sky
            </h2>
            <span class="gallery-card__text">
              Design
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio4.jpg 1x, images/gallery/portfolio4-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio4-tab.jpg 1x, images/gallery/portfolio4-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio4-mob.jpg 1x, images/gallery/portfolio4-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio4.jpg" alt="Bronze Sky" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-c">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Cereal Travel Magazine
            </h2>
            <span class="gallery-card__text">
              Design
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio5.jpg 1x, images/gallery/portfolio5-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio5-tab.jpg 1x, images/gallery/portfolio5-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio5-mob.jpg 1x, images/gallery/portfolio5-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio5.jpg" alt="Cereal Travel Magazine" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-b">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Photonium
            </h2>
            <span class="gallery-card__text">
              App
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio6.jpg 1x, images/gallery/portfolio6-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio6-tab.jpg 1x, images/gallery/portfolio6-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio6-mob.jpg 1x, images/gallery/portfolio6-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio6.jpg" alt="Photonium" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-d">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Keep Exploring
            </h2>
            <span class="gallery-card__text">
              Brand
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio7.jpg 1x, images/gallery/portfolio7-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio7-tab.jpg 1x, images/gallery/portfolio7-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio7-mob.jpg 1x, images/gallery/portfolio7-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio7.jpg" alt="Keep Exploring" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-c">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Architectural conceptual projects
            </h2>
            <span class="gallery-card__text">
              Design
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio8.jpg 1x, images/gallery/portfolio8-2x.jpg 2x"
                media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio8-tab.jpg 1x, images/gallery/portfolio8-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio8-mob.jpg 1x, images/gallery/portfolio8-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio8.jpg" alt="Architectural conceptual projects" width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
      <li class="gallery__content-item mix category-a">
        <div class="gallery-card">
          <div class="gallery-card__inner">
            <h2 class="gallery-card__subtitle">
              Le Buzz food service
            </h2>
            <span class="gallery-card__text">
              Web-site
            </span>
          </div>
          <div class="gallery-card__image-wrapper">
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consequat.
            </p>
            <picture>
              <source srcset="images/gallery/portfolio9.jpg 1x, images/gallery/portfolio9-2x.jpg 2x" media="(min-width:1200px)">
              <source srcset="images/gallery/portfolio9-tab.jpg 1x, images/gallery/portfolio9-tab-2x.jpg.jpg 2x"
                media="(min-width:768px)">
              <source srcset="images/gallery/portfolio9-mob.jpg 1x, images/gallery/portfolio9-mob-2x.jpg 2x"
                media="(min-width:320px)">
              <img class="gallery-card__image" src="images/gallery/portfolio9.jpg" alt="Le Buzz food service"
                width="370" height="294">
            </picture>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>